* {
    /* text-align: right; */
}

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

body{
    /* background-image: url(img/zamalek_Logo.png); */
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    
}

p {
    color: #000;
    line-height: 30px;
    font-style: italic;
    /* font-weight: bold; */
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif, Courier, monospace;
}
h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 8px double red;
    border-right: 8px double red;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
}

h1 div > p{
    color: rgb(8, 6, 6);
    text-align: center;
    border: 5px solid rgba(255, 176, 170, .5);
    cursor: pointer;
}

h1 p {
    text-align: center;
   
}

h2 p {
    color: #ffff;
}
h2 + p {
    /* color: rgb(8, 6, 6); */
    text-align: center;
    border: 5px solid rgba(255, 176, 170, .5);
    cursor: pointer;
    font-size: 18px;
}

h2 + p:hover {
    color: rgb(27, 31, 52);
    text-align: center;
    border: 8px solid rgba(42, 191, 94, 0.5);
    cursor: pointer;

}


li {
    list-style: none;
    display: inline-block;
}
.container {
    background-color: cadetblue;
  
}

.flexbox_container {
     display: flex;/* important  */
    flex-wrap: wrap;
    justify-content: center;
}

aside{
    float: right;
}

.webtext:last-child{
    border: 5px dashed rgba(15, 151, 169, 0.5);
}
.active {
    color: red;
}

#div1{
    background-color: rgba(0, 0, 225, .3);
}
#div2{
    background-color: rgba(255, 0, 0, .3);
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.1);
}

 /* must add property clear:both; after a tag with float property => look img tag above */
footer{
    background-color: rgb(229 24 24);;
    text-align: center;
    color: #ffff;
    clear: both;
}

.boxmodel{
    border: 5px double red;
    display: inline-block;
    padding: 20px;
    margin: 0px 20px;
}

span{
    font-size: 2em;;
}

span img {
    padding: 20px;
}